header.intro-header[style="background-image: url('/img/home-bg.jpg')"]
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .site-heading
          h1
            | Ufa
            span
              | Code
          hr.small
          span.subheading
            | сообщество уфимских ИТ ремесленников
