
.markItUpHeader{
  margin: 10px 0 !important;
  display: inline-block;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

a.tag{
  text-decoration: none;
  color: #FFF;
  margin-right: 5px;
}
.tag_cloud {
  margin: 20px 0;
}
.small-tag {
  font-size: 11px;
}
.medium-tag {
  font-size: 14px;
}
.large-tag {
  font-size: 18px;
}

.post-rupor {
  padding: 0;
  margin-top: 20px;
  list-style: none;
  li {
    display: inline-block;
  }
}
